%h2 Wstęp - zbieranie danych
- title 'Rejestracja - Zbieranie danych - 1/3'
%p
  Nazwa użytkownika
  %br
  = f.text_field :username
  %br
  Hasło
  %br
  = f.password_field :password
  %br
  Sprawdzenie poprawności hasła
  %br
  = f.password_field :password_confirmation

