%h2 Regulamin oraz zasady użytkowania
- title 'Rejestracja - Akceptacja regulaminu - 2/3'
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae sem magna,
  nec porta erat. Sed fermentum blandit dolor, et mattis diam lacinia ac.
  Morbi blandit eleifend dolor ac convallis. Fusce est ligula, facilisis sit amet euismod eget, aliquet at enim.
  Cras vel elit pellentesque enim eleifend pharetra a quis arcu. Quisque faucibus pulvinar adipiscing. Suspendisse
  molestie massa non tellus malesuada scelerisque. Nulla eleifend tincidunt feugiat. Donec convallis euismod ultricies.
  Sed tempor feugiat nisl, vel dignissim metus blandit id. Nulla ultrices, risus vitae condimentum blandit, urna augue posuere
  felis, sit amet consectetur nibh massa ut nisi. Aliquam erat volutpat. In laoreet lacinia lacus, in interdum dolor commodo sed.
  Nunc dignissim urna quis ante placerat consequat. Nullam tellus lacus, tempor at vehicula non, imperdiet ut erat. Duis
  lobortis eros non libero fermentum tincidunt. Aenean pellentesque dolor non nibh elementum placerat.
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae sem magna,
  nec porta erat. Sed fermentum blandit dolor, et mattis diam lacinia ac.
  Morbi blandit eleifend dolor ac convallis. Fusce est ligula, facilisis sit amet euismod eget, aliquet at enim.
  Cras vel elit pellentesque enim eleifend pharetra a quis arcu. Quisque faucibus pulvinar adipiscing. Suspendisse
  molestie massa non tellus malesuada scelerisque. Nulla eleifend tincidunt feugiat. Donec convallis euismod ultricies.
  Sed tempor feugiat nisl, vel dignissim metus blandit id. Nulla ultrices, risus vitae condimentum blandit, urna augue posuere
  felis, sit amet consectetur nibh massa ut nisi. Aliquam erat volutpat. In laoreet lacinia lacus, in interdum dolor commodo sed.
  Nunc dignissim urna quis ante placerat consequat. Nullam tellus lacus, tempor at vehicula non, imperdiet ut erat. Duis
  lobortis eros non libero fermentum tincidunt. Aenean pellentesque dolor non nibh elementum placerat.
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae sem magna,
  nec porta erat. Sed fermentum blandit dolor, et mattis diam lacinia ac.
  Morbi blandit eleifend dolor ac convallis. Fusce est ligula, facilisis sit amet euismod eget, aliquet at enim.
  Cras vel elit pellentesque enim eleifend pharetra a quis arcu. Quisque faucibus pulvinar adipiscing. Suspendisse
  molestie massa non tellus malesuada scelerisque. Nulla eleifend tincidunt feugiat. Donec convallis euismod ultricies.
  Sed tempor feugiat nisl, vel dignissim metus blandit id. Nulla ultrices, risus vitae condimentum blandit, urna augue posuere
  felis, sit amet consectetur nibh massa ut nisi. Aliquam erat volutpat. In laoreet lacinia lacus, in interdum dolor commodo sed.
  Nunc dignissim urna quis ante placerat consequat. Nullam tellus lacus, tempor at vehicula non, imperdiet ut erat. Duis
  lobortis eros non libero fermentum tincidunt. Aenean pellentesque dolor non nibh elementum placerat.
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae sem magna,
  nec porta erat. Sed fermentum blandit dolor, et mattis diam lacinia ac.
  Morbi blandit eleifend dolor ac convallis. Fusce est ligula, facilisis sit amet euismod eget, aliquet at enim.
  Cras vel elit pellentesque enim eleifend pharetra a quis arcu. Quisque faucibus pulvinar adipiscing. Suspendisse
  molestie massa non tellus malesuada scelerisque. Nulla eleifend tincidunt feugiat. Donec convallis euismod ultricies.
  Sed tempor feugiat nisl, vel dignissim metus blandit id. Nulla ultrices, risus vitae condimentum blandit, urna augue posuere
  felis, sit amet consectetur nibh massa ut nisi. Aliquam erat volutpat. In laoreet lacinia lacus, in interdum dolor commodo sed.
  Nunc dignissim urna quis ante placerat consequat. Nullam tellus lacus, tempor at vehicula non, imperdiet ut erat. Duis
  lobortis eros non libero fermentum tincidunt. Aenean pellentesque dolor non nibh elementum placerat.
%p
  Pamiętaj, że klikając następny krok, jednocześnie akceptujesz wyżej wymieniony regulamin.

