%p
  =link_to 'Kokpit główny', account_path
  |
  =link_to 'Modyfikacja danych'
  |
  =link_to 'Moje zamówienia'
  |
  =link_to 'Zmiana hasła', edit_path(current_user.username)
  |
  =link_to 'Zmiana avatara'

