-title "Zmiana hasła"
%h1 Zmiana hasła
=render 'slider'
%p
  Zalogowany jako
  =current_user.username + '.'
-form_for @account do |f|
  Obecne hasło
  %br
  = f.password_field :password
  %br
  Nowe hasło
  %br
  = f.password_field :password
  %br
  Powtórz nowe hasło
  %br
  = f.password_field :password
  %br
  = f.submit "Gotowe"

