-title "Modyfikowanie ustawień konta"
%h1 Edycja profilu
=render 'slider'
%p
  Zalogowany jako
  =current_user.username + '.'
%p{:align => "center"}
  %div{:align => "center"}
    %table#tabela{:summary => "Tabela testowa", :width => "100%"}
      %tbody
        %tr
          %td.gora{:align => "center", :width => "50%"}
            %font{:style => "font-size: 9pt"} Nazwa użytkownika
          %td.gora{:align => "center", :width => "50%"}
            %font{:style => "font-size: 9pt"}
              =current_user.username
        %tr
          %td{:align => "center"}
            %font{:style => "font-size: 9pt"} Adres e-mail
          %td{:align => "center"}
            %font{:style => "font-size: 9pt"}
              -if current_user.email == nil
                brak informacji
              -else
                =current_user.email
        %tr
          %td{:align => "center"}
            %font{:style => "font-size: 9pt"} Ostatnia wizyta
          %td{:align => "center"}
            %font{:style => "font-size: 9pt"} 2 dni temu
        %tr
          %td{:align => "center"}
            %font{:style => "font-size: 9pt"} Ilość logowań
          %td{:align => "center"}
            %font{:style => "font-size: 9pt"}
              =current_user.login_count
        %tr
          %td{:align => "center"}
            %font{:style => "font-size: 9pt"} Data rejestracji
          %td{:align => "center"}
            %font{:style => "font-size: 9pt"}
              =current_user.created_at.to_date

